@{
    ViewData["Title"] = "Home Page";
}

<section style="height: 1000px" class="charts_container container h-auto">
    <partial name="_Simplechart" />
    <partial name="_Plottingchart" />
</section>
