<div id="chart-container" style="height: 400px" ></div>

<script>
    
    FusionCharts.ready(async () => {
        
        const response = await fetch("https://localhost:7163/Chart/SimpleChart");
        const data = await response.json();

        const dataSource = {
            chart: {
                caption: "Countries With Most Oil Reserves [2022-23]",
                subcaption: "In MMbbl = One Million barrels",
                xaxisname: "Country",
                yaxisname: "Reserves (MMbbl)",
                numbersuffix: "K",
                theme: "candy"
            },
            data
        };
      
        const myChart = new FusionCharts({
            type: "column2d",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });

</script>