@model WebApplication1.Models.Product

<h2>Are you sure you want to delete this record?</h2>
<section class="p-2 shadow-lg">
	<div class="d-flex mb-3 p-2">
		<strong>Title: </strong>
		<span>@Model.Title</span>
	</div>
	<div class="d-flex mb-3 p-2">
		<strong>Description: </strong>
		<span>@Model.Description</span>
	</div>
	<div class="d-flex mb-3 p-2">
		<strong>Price: </strong>
		<span>@Model.Price</span>
	</div>
</section>
<div class="d-flex">
	<a asp-controller="Product" class="btn btn-primary me-3" asp-action="Index">Go back to list</a>
	<form asp-controller="Product" asp-action="DeleteProduct" method="post">
		<input type="hidden" asp-for="Id" />
		<button class="btn btn-outline-danger" type="submit">Delete</button>
	</form>
</div>

