@model WebApplication1.Models.Product

<div class="card p-3" style="width: 25rem;">
	<div class="card-body">
		<h5 class="card-title">@Model.Title</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary">@Model.Price $</h6>
		<p class="card-text">@Model.Description</p>
		<a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">Go back to list</a>
		<a asp-controller="Product" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
	</div>
</div>



